// kolory

$menu-link-color: #777777;


$white-color: #fff;
$black-color: #000;

$header-color: #222222;

$gray-text-color: #cccccc;
$darkness-gray-text-color: #777777;

$green-color: #7cc576;

$gear-bg-color: #e9e9e9;
$gray-bg-color: #f9f9f9;

$contact-text-color: #ececec;
$footet-text-color: #555555;


